SERVICE_ENV=dev
SERVICE_NAME=inventory_service
SERVICE_PORT=11001
SERVICE_VERSION=v1.0.0

# PostgreSQL Config
PG_HOST=localhost
PG_PORT=10001
PG_USERNAME=test
PG_PASSWORD=test
PG_DATABASE=inventory_db

# Config Otel
APM_ENABLE=true
APM_INSECURE_MODE=true
APM_EXPORTER_ENDPOINT=localhost:4318
APM_API_KEY=your_ingest_api_key
