SERVICE_ENV=production

# Config DB product
PRODUCT_SERVICE_NAME=product_service
PRODUCT_SERVICE_PORT=11000

DB_PRODUCT_HOST=localhost
DB_PRODUCT_PORT=10001
DB_PRODUCT_USERNAME=test
DB_PRODUCT_PASSWORD=test
DB_PRODUCT_DATABASE=products_dat

# Config DB orders
ORDER_SERVICE_NAME=product_service
ORDER_SERVICE_PORT=11001
