SERVICE_ENV=dev
SERVICE_NAME=placement_service
SERVICE_VERSION=v1.0.0
SERVICE_PORT=11000
SERVICE_HOST=0.0.0.0

# PostgreSQL Config
PG_HOST=localhost
PG_PORT=5432
PG_USERNAME=test
PG_PASSWORD=test
PG_DATABASE=placement_db

INVENTORY_SERVICE_BASE_URL=http://localhost:11001

# Config Otel
APM_ENABLE=true
APM_INSECURE_MODE=true
APM_EXPORTER_ENDPOINT=localhost:4318
APM_API_KEY=your_ingest_api_key
